.article{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 15px;

  @media(max-width: 1200px){
    grid-template-columns: 1fr;
  }

  h2{
    text-align: center;

    @media(max-width: 600px){
      font-size: 17px;
    }
  }

}

.cat{
  font-size: 19px ;
  color: red;
  text-transform: capitalize;
  font-weight: bold;
  padding: 20px 0;

  @media(max-width: 600px){
    font-size: 17px;
  }

  &::before{
    content: '#';
  }
}

.headInfo{
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 20px 0;

  & span:nth-child(1){
    color: gray;
    font-style: italic;
    font-size: 18px;

    @media(max-width: 600px){
      font-size: 15px;
    }
  }
  & span:nth-child(2){
    color: rgb(27, 27, 27);
    font-style: italic;
    font-size: 14px;

    @media(max-width: 600px){
      font-size: 12px;
    }
  }
}

.imageContainer{
  max-height: 300px;
  overflow: hidden;
  background: rgba(118, 117, 117, 0.422);
  height: 300px;


  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}



.additional{

  @media(max-width: 1200px){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h4{
    text-transform: uppercase;
    text-align: center;
    color: red;

    @media(max-width: 600px){
      font-size: 14px;
    }
  }
}

.mainContent{
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media(max-width: 600px){
    gap: 10px;
  }


  p{
    font-size: 17px;
    line-height: 1.3;

    @media(max-width: 600px){
      font-size: 15px;
    }
  }

  span{
    color: rgb(20, 16, 247);
    font-style: italic;
    font-size: 14px;
    text-align: center;
  }

  a{
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}