.gallery{
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-width: 90px;
  min-height: 90px;

  img{
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
    transition: all ease 0.5s;

    &:hover{
      transform: scale(1.1);
    }
  }

}

.small{
  width: 150px;
  height: 100%;
}

.ssm{
  width: 75px;
  height: 100%;

}

.medium{
  width: 100%;
  height: 150px;
  background-image: url('../../../assets/images/pexels-element-digital-1051075.jpg');
  background-position: 0 0;

  img{

    height: 100%;
    object-fit: cover;
    width: 100%;
  }

}

.overImg{
  width: 100%;
  height: 100%;

  img{
    width: 100%;
  }
}
