.container {

  display: grid;
  grid-template-columns: minmax(auto, 250px) minmax(auto, 35%) minmax(auto, 35%);
  gap: 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "side sm1 sm2"
    "side sm1 sm2";

  a{
  text-decoration: none;
  color: black;

  &:visited{
    color: gray;
  }
}

    @media(max-width: 1050px){
      display: grid;
      grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
      gap: 25px;
      grid-auto-flow: row;
      grid-template-areas:
        "sm1 sm2"
        "sm1 sm2"
        "side side" ;
        padding: 15px 0;
    }

    @media(max-width: 800px){
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 15px;
      grid-auto-flow: row;
      grid-template-areas:
        "side side"
        "sm1 sm1"
        "sm2 sm2" ;
        padding: 15px 0;

    }
}

.side {
  grid-area: side;

  @media(max-width: 1050px){
    justify-items: center;
  }
}

.sm1 {
  grid-area: sm1;

}

.sm2 {
  grid-area: sm2;
}



.common{
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 0 0 15px;
  justify-items: flex-start;



  @media(max-width: 500px){
    justify-items: center;
  }

}

.section{
  width: 100%;
}
