.newsContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  @media(max-width: 1300px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media(max-width: 850px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width: 600px){
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}

.catNews{
  width: 100%;
  height: 100%;
}

.centered{
  text-align: center;
}