
.listWrapper{
  margin: 0 auto;
  background: rgb(62, 61, 61);
  color: rgb(152, 150, 150);
  padding: 10px;
  list-style: none;
  position: absolute;
  top: 35px;
  left: -20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 3px;


  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

}

.listItemLink{
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  color: rgb(152, 150, 150);
  padding: 0 1px;

  &:hover{
    color: rgb(246, 240, 240);
  }
}
